@{
    ViewBag.Title = "Home Page";
}

<main class="text-center">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema Gestión Administrativo de Restaurantes</h1>
        <p class="lead">Explore los distintos modulos.</p>
    </section>

    <div class="row text-center">
        <section class="col-sm-4">
            <div class="card text-white bg-primary mb-5 text-center" style="max-width: 18rem;">
                <div class="card-header">Gestion de Menus</div>
                <div class="card-body">
                    <h5 class="card-title">Gestiona tus Menus</h5>
                    <p class="card-text">
                        @Html.ActionLink("Comenzar", "Index", "Menu", new { area = "" }, new { @class = "btn btn-outline-dark text-white" })
                    </p>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="card text-white bg-secondary mb-5 text-center" style="max-width: 18rem;">
                <div class="card-header">Mesas</div>
                <div class="card-body">
                    <h5 class="card-title">Gestiona tus Mesas</h5>
                    <p class="card-text">
                        @Html.ActionLink("Comenzar", "Index", "Mesa", new { area = "" }, new { @class = "btn btn-outline-dark text-white" })
                    </p>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="card text-white bg-info mb-5 text-center" style="max-width: 18rem;">
                <div class="card-header">Clientes</div>
                <div class="card-body">
                    <h5 class="card-title">Gestiona tus Clientes</h5>
                    <p class="card-text">
                        @Html.ActionLink("Comenzar", "Index", "Cliente", new { area = "" }, new { @class = "btn btn-outline-dark text-white" })
                    </p>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="card text-white bg-success mb-5 text-center" style="max-width: 18rem;">
                <div class="card-header">Reservaciones</div>
                <div class="card-body">
                    <h5 class="card-title">Gestiona tus Reservaciones</h5>
                    <p class="card-text">
                        @Html.ActionLink("Comenzar", "Index", "Reservacion", new { area = "" }, new { @class = "btn btn-outline-dark text-white" })
                    </p>
                </div>
            </div>
        </section>

        <h2>Mas Informacion</h2>
        <hr />

        <section class="col-sm-4">
            <div class="card text-black bg-light mb-5 text-center" style="max-width: 18rem;">
                <div class="card-header">Acerca de</div>
                <div class="card-body">
                    <h5 class="card-title">Conozca mas sobre el sistema</h5>
                    <p class="card-text">
                        @Html.ActionLink("Ver mas", "About", "Home", new { area = "" }, new { @class = "btn btn-outline-primary" })
                    </p>
                </div>
            </div>
        </section>        
        <section class="col-sm-4">
            <div class="card text-black bg-light mb-5 text-center" style="max-width: 18rem;">
                <div class="card-header">Contacto</div>
                <div class="card-body">
                    <h5 class="card-title">Conoce nuestros medio de contacto</h5>
                    <p class="card-text">
                        @Html.ActionLink("Ver mas", "Contact", "Home", new { area = "" }, new { @class = "btn btn-outline-primary" })
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>