@model IEnumerable<CapaEntidades.Mesa>

@{
    ViewBag.Title = "Listado de Mesas";
}

<h2>Lista de Mesas</h2>

<p class="text-lg-end mb-4">
    @Html.ActionLink("Crear", "Create", new { var = "" }, new { @class = "btn btn-primary btn-lg w-25" })
</p>

<div class="d-flex justify-content-center">

    <table class="table table-bordered mx-auto text-center table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroMesa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMesa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
 </div>
