@model CapaEntidades.Menu

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>Desea eliminar este registro?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('Desea eliminar?')" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
